@import '../../sass/_variables'
.wrapper
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 25px
    height: 890px
    width: 500px
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    margin: 0 auto
    max-width: 560px
    width: 100%

    &.otherPage
        border-radius: 0 0 20px 20px
        box-shadow: $bx-accent
        height: 280px

.heading
    text-transform: uppercase
    color: $white
    font-size: 28px
    font-weight: bold
    text-align: center
    margin-top: .5rem
    // margin-bottom: 1.3rem

.blurWrapper
    backdrop-filter: blur(4px)

.headingForWorkout
    text-align: left
p
    color: #DEB6B6
.exercisePageWrapper
    display: flex
    align-items: center
    text-align: center
    img
        margin-right: 10px
    p
        margin-right: 15px
