@import '../../sass/_animations'
.alert
    width: 100%
    background-color: #57e7c2
    color: #222
    margin-bottom: 1rem
    animation: opacity .4s
    border-radius: 10px
    &.error
        bakcground-color: #ff2e63
        color: #fff
    &.info
        bakcground-color: #50c1e9
    &.warning
        bakcground-color: #f75940
        color: #fff
